.md-drppicker {
  background-color: #424242;
  color: white;
}
.md-drppicker td.available:hover,
.md-drppicker th.available:hover {
  background-color: rgba(255, 255, 255, 0.04);
  color: white;
}
.md-drppicker td.off,
.md-drppicker td.off.in-range,
.md-drppicker td.off.start-date,
.md-drppicker td.off.end-date {
  background-color: #424242;
  border-color: #424242;
  color: rgba(255, 255, 255, 0.5);
}
.md-drppicker td.in-range {
  background-color: black;
  border-color: black;
  color: white;
}
.md-drppicker td.active {
  transition: background 300ms ease-out, border 300ms ease-out;
  background: rgba(0, 0, 0, 0.1);
}
.md-drppicker td.active,
.md-drppicker td.active:hover {
  background-color: #9c27b0;
  color: white;
}
.md-drppicker .ranges ul li button {
  border-radius: 4px;
  color: white;
}
.md-drppicker .ranges ul li button.active {
  background-color: #9c27b0;
  color: white;
}
.md-drppicker .ranges ul li:hover {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.04);
  color: white;
}
