@page "/detailsRelevant"
@using DataHandler
@inject DataStorage dataStorage
@implements IDisposable

<h1>Aktueller Zustand</h1>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach(DisplayableValuePair pair in data.DisplayableListRelevant)
            {
            <tr>
                <th>@pair.Header</th>
                <td>@pair.DisplayValue</td>
            </tr>
            }
        </tbody>
    </table>
}

@functions{
    private Action? newDataReceived;
    private Data? data;

    protected override void OnInitialized()
    {
        // sub optimal because async void
        newDataReceived = async () =>
        {
            data = dataStorage.CurrentData;
            try
            {
                await base.InvokeAsync(base.StateHasChanged);
            } catch { } // although ugly, this is necessary because of the race conditions introduced by the async void
        };

        dataStorage.NewDataReceived += newDataReceived;

        newDataReceived();
        base.OnInitialized();
    }

    public void Dispose()
    {
        dataStorage.NewDataReceived -= newDataReceived;
    }
}