@page "/details"
@using DataHandler
@inject IDataHandler dataHandler
@implements IDisposable

<h1>Aktueller Zustand</h1>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach((string Header, string Value) pair in data.DisplayableList){
            <tr>
                <th>@pair.Header</th>
                <td>@pair.Value</td>
            </tr>
            }
        </tbody>
    </table>
}

@functions{
    private Action changed;
    private Data data;

    protected override void OnInit()
    {
        changed = () =>
        {
            data = dataHandler.CurrentData;
            base.Invoke(base.StateHasChanged);
        };
  
        dataHandler.Changed += changed;

        changed();
        base.OnInit();
    }

    public void Dispose() {
        dataHandler.Changed -= changed;
    }
}