@page "/"
@using DataHandler
@inject IDataHandler dataHandler
@implements IDisposable

<h1>Aktueller Zustand</h1>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Zeit</th>
                <th>Boiler 1</th>
                <th>Puffer oben</th>
                <th>Puffer unten</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@data.DatumZeit.Value.ToString("dd.MM.yyyy HH:mm:ss")</td>
                <td>@data.Boiler_1.GetString("°C")</td>
                <td>@data.Puffer_Oben.GetString("°C")</td>
                <td>@data.Puffer_Unten.GetString("°C")</td>
            </tr>
        </tbody>
    </table>
}

@functions{
    private Action changed;
    private Data data;

    protected override void OnInit()
    {
        changed = () =>
        {
            data = dataHandler.CurrentData;
            base.Invoke(base.StateHasChanged);
        };
            
        dataHandler.Changed += changed;

        changed();
        base.OnInit();
    }

    public void Dispose() {
        dataHandler.Changed -= changed;
    }
}